@import '~@default-theme/styles/config.styl'

$green = #3eaf7c
$gray = #2c3e50
$red = #DA5961 //#f66
$yellow = darken(#ffe564, 35%)

details:foucs {
  outline: none
}

.wrapper {
  margin: 25px auto;
}
