@import '~@default-theme/styles/config.styl'
@import './mixin.styl'

$green = #3eaf7c
$gray = #2c3e50
$red = #DA5961 //#f66
$yellow = darken(#ffe564, 35%)
$orange = #e96900
$light = #f1f1f1

$shadow
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, .05), 0 10px 20px 0 rgba(0, 0, 0, .15);




