@import '~vue-foldable/dist/vue-foldable.css'

.foldable-view-more
  z-index 5

@media (max-width: $MQMobile)
  .vue-foldable
    margin 0 -1.5rem
    padding 0 1.5rem
    .vue-foldable-container
      margin 0 -1.5rem
      padding 0 1.5rem
    .foldable-view-more
      z-index 5
      margin: 0 -1.5rem

details:foucs {
  outline: none
}

.wrapper {
  margin: 25px auto;
}

.card {
  @extend $shadow;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
}

.shadow-card {
  @extend .wrapper;
  @extend .card;
}
